
.item-subs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-subs-body {
  flex: 1;
  min-height: 0;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-self {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 30px 3px;
}
.item-desc{
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 558px;
}
